@import url('https://fonts.googleapis.com/css?family=Mali');

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #dbe5ef;
}

a {
    text-decoration: none;
    color: #e9fbf7;
    font-weight: bolder;
}

a:hover {
    color: #4d54af;;
}

a.active  {
    color: #ffe581;
}

h3 {
    color: #4d54af;
    font-family: 'Mali', cursive;
    font-size: 1.8em;
}

#wrapper {
    margin: 10px auto; 
    width: 90%;
    display: grid;
    padding: 30px;
    background-color: #e9f7fb;
    grid-template-columns: 1fr; 
    grid-template-rows: auto;
    grid-gap: 10px;
    grid-template-areas: 
        "header"
        "navi"
        "main"
        "footer";
}


header {
    background-color: #8ad5ff;
    grid-area: header;
    text-align: center;
    font-family: 'Mali', cursive;
    font-size: 2em;
    padding: 20px;
    color: #ffe581;
}

header h2 {
    margin: 0;
}
nav {
    background-color: #8ad5ff;
    grid-area: navi;
    text-align: center;
}

nav li {
    display: inline-block;
    padding: 5px 30px;
}

#main {
    background-color: #8ad5ff;
    grid-area: main;
    text-align: center;
    padding: 10px 50px 50px 50px;
}

#main p {
    font-size: 1.2em;
}

#main .takaisin {
    text-align: start;
    margin-left: -20px;
    font-size: 0.9em;
}

#footer {
    background-color: #8ad5ff;
    padding: 10px;
    font-size: 0.8em;
    grid-area: footer;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: #4d54af;
}


.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 14px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    width: 110px;
    box-sizing: border-box;
}

.button:hover {
    background-color: #39b187;
    color: #ffe581;
}

.button2 {
    background-color: #af6b4c;
    border: none;
    color: white;
    width: 110px;
    padding: 14px 0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    box-sizing: border-box;
}

.button2:hover {
    background-color: #ffe581;
    color: #af6b4c;
}

input[type=number] {
    padding: 10px;
    font-size: 1.2em;
    box-sizing: border-box;
    width: 100px;
    text-align: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}