@import url('https://fonts.googleapis.com/css?family=Mali');


body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #dbe5ef;
}

footer {
    font-size: 0.8em;
}

a {
    text-decoration: none;
    color: #e9fbf7;
}

a:hover {
    color: #4d54af;;
}



#wrapper {
    margin: 10px auto; 
    width: 80%;
    display: grid;
    padding: 30px;
    background-color: #e9f7fb;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: auto;
    grid-gap: 10px;
    grid-template-areas: 
        "header header header header"
        "plus plus minus minus"
        "kerto kerto jako jako"
        "footer footer footer footer";
}

header {
    background-color: #8ad5ff;
    grid-area: header;
    text-align: center;
    font-family: 'Mali', cursive;
    font-size: 2em;
    padding: 20px;
    color: #ffe581;
}

header h1 {
    margin: 0;
}

#plus {
    background-color: #8ad5ff;
    grid-area: plus;
    text-align: center;
    font-family: 'Mali', cursive;
    font-size: 1.5em;
}

#plus:hover {
    border-radius: 50%;
}

#miinus {
    background-color: #8ad5ff;
    grid-area: minus;
    text-align: center;
    font-family: 'Mali', cursive;
    font-size: 1.5em;
}

#miinus:hover {
    border-radius: 50%;
}

#kerto {
    background-color: #8ad5ff;
    grid-area: kerto;
    text-align: center;
    font-family: 'Mali', cursive;
    font-size: 1.5em;
}

#kerto:hover {
    border-radius: 50%;
}

#jako {
    background-color: #8ad5ff;
    grid-area: jako;
    text-align: center;
    font-family: 'Mali', cursive;
    font-size: 1.5em;
}

#jako:hover {
    border-radius: 50%;
}

#footer {
    background-color: #8ad5ff;
    padding: 10px;
    grid-area: footer;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: #4d54af;
}

@media screen and (max-width:500px) {
    #wrapper {
        margin: 10px auto; 
        width: 90%;
        display: grid;
        padding: 30px;
        background-color: aliceblue;
        grid-template-columns: 1fr; 
        grid-template-rows: auto;
        grid-gap: 10px;
        grid-template-areas: 
            "header"
            "plus"
            "minus"
            "kerto"
            "jako"
            "footer";
    }

}