@import url('https://fonts.googleapis.com/css?family=Mali');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Shadows+Into+Light');

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #9bdaa2;
}

footer {
    font-size: 0.8em;
}

a {
    text-decoration: none;
    color: #e9fbf7;
}

a:hover {
    color: #4d54af;;
}



/*#wrapper {
    margin: 10px auto; 
    width: 80%;
    display: grid;
    padding: 30px;
    background-color: #e9f7fb;
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: auto;
    grid-gap: 10px;
    grid-template-areas: 
        "header header header header"
        "plus plus minus minus"
        "kerto kerto jako jako"
        "footer footer footer footer";
}
*/

#wrapper {
    display: grid;
    grid-template-columns: 800px 120px;
    grid-template-rows: 152px 152px 152px 152px 0.5fr;
    grid-template-areas: 
        "picture plus"
        "picture minus"
        "picture kerto"
        "picture jako"
        "footer footer";
    width: 900px;
    margin: 30px auto;
}


header {
    background-image: url(../pictures/matikkapeli_graphics1.1.jpg);
    background-size: 800px;
    grid-area: picture;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    letter-spacing: 20px;
    text-shadow: 2px 2px #1e3b70;
    font-size: 2em;
    padding: 20px;
    color: #3bc1ff;
}

header h1 {
    margin: 0;
}

#pluscontainer {
    
}

#slide1 {
    position: fixed;
    background: #999;
    width: 250px; 
    right: -250px; 
    height: 152px; 
    transition: right 0.4s ease-in-out;
}

#slide1 > h3 {
    text-align: center;
    font-family: 'Mali', cursive;
    font-size: 1.5em;
    color: #FFF;
    padding: 35px 40px;
    text-transform: uppercase;
} 

#slide1:hover {
    right: 0px;
}

.toggle {
    position: absolute;
    right: 250px;
    padding: 10px;
    background: #ccc;
}

#plus {
    grid-area: plus;
    text-align: center;
    font-family: 'Mali', cursive;
    font-size: 1.5em;
    padding: 20px;
    width: 80px;
    height: 132px;
    box-sizing: border-box;

}


#miinus {
    grid-area: minus;
    text-align: center;
    font-family: 'Mali', cursive;
    font-size: 1.5em;
    padding: 20px;
    width: 80px;
    height: 132px;
    box-sizing: border-box;
}

#slide2 {
    position: fixed;
    background: #999;
    top: 182px;
    width: 250px; 
    right: -250px; 
    height: 152px; 
    transition: right 0.4s ease-in-out;
}

#slide2 > h3 {
    text-align: center;
    font-family: 'Mali', cursive;
    font-size: 1.5em;
    color: #FFF;
    padding: 35px 40px;
    text-transform: uppercase;
} 

#slide2:hover {
    right: 0px;
}

#kerto {
    grid-area: kerto;
    text-align: center;
    font-family: 'Mali', cursive;
    font-size: 1.5em;
    padding: 20px;
    width: 80px;
    height: 132px;
    box-sizing: border-box;
}

#slide3 {
    position: fixed;
    background: #999;
    top: 334px;
    width: 250px; 
    right: -250px; 
    height: 152px; 
    transition: right 0.4s ease-in-out;
}

#slide3 > h3 {
    text-align: center;
    font-family: 'Mali', cursive;
    font-size: 1.5em;
    color: #FFF;
    padding: 35px 40px;
    text-transform: uppercase;
} 

#slide3:hover {
    right: 0px;
}

#jako {
    grid-area: jako;
    text-align: center;
    font-family: 'Mali', cursive;
    font-size: 1.5em;
    padding: 20px;
    width: 80px;
    height: 132px;
    box-sizing: border-box;
}

#slide4 {
    position: fixed;
    background: #999;
    top: 486px;
    width: 250px; 
    right: -250px; 
    height: 152px; 
    transition: right 0.4s ease-in-out;
}

#slide4 > h3 {
    text-align: center;
    font-family: 'Mali', cursive;
    font-size: 1.5em;
    color: #FFF;
    padding: 35px 40px;
    text-transform: uppercase;
} 

#slide4:hover {
    right: 0px;
}

#footer {
    background-color: #51b450;
    padding: 10px;
    grid-area: footer;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
}

@media screen and (max-width:500px) {
    #wrapper {
        margin: 10px auto; 
        width: 90%;
        display: grid;
        padding: 30px;
        background-color: aliceblue;
        grid-template-columns: 1fr; 
        grid-template-rows: auto;
        grid-gap: 10px;
        grid-template-areas: 
            "picture"
            "plus"
            "minus"
            "kerto"
            "jako"
            "footer";
    }

}