@import url('https://fonts.googleapis.com/css?family=Mali');
@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Shadows+Into+Light');

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #9bdaa2;
}

footer {
    font-size: 0.8em;
}

a {
    text-decoration: none;
    color: #e9fbf7;
}

a:hover {
    color: #4d54af;;
}




#wrapper {
    display: grid;
    grid-template-columns: 800px 120px;
    grid-template-rows: 152px 152px 152px 152px 0.5fr;
    grid-template-areas: 
        "picture plus"
        "picture minus"
        "picture kerto"
        "picture jako"
        "footer footer";
    width: 900px;
    margin: 30px auto;
}


header {
    background-image: url(../pictures/matikkapeli_graphics1.1.jpg);
    background-size: 800px;
    grid-area: picture;
    text-align: center;
    font-family: 'Shadows Into Light', cursive;
    letter-spacing: 20px;
    text-shadow: 2px 2px #1e3b70;
    font-size: 2em;
    padding: 20px;
    color: #3bc1ff;
}

header h1 {
    margin: 0;
}

#plusContainer {
    grid-area: plus;
    justify-self: end;
    text-align: center;
    font-family: 'Mali', cursive;
    font-size: 1.5em;
    width: 340px;
    height: 152px;
    overflow: hidden;
    white-space: nowrap;
    text-transform: uppercase;
}

#plus {
    position: relative;
    right: -220px;
    height: 152px;
    padding: 10px;
    width: 340px;
    background-color: #3dca41;
    color: #ffffff;
}



#plus span {
    padding-left: 30px;
    padding-right: 50px;
    font-size: 2em;
}

#plusContainer div {
    transition: transform .2s ease-in-out;
}

#plusContainer div:hover {
    transform: translate3d(-220px, 0px, 0px);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#miinusContainer {
    grid-area: minus;
    justify-self: end;
    text-align: center;
    font-family: 'Mali', cursive;
    font-size: 1.5em;
    width: 370px;
    height: 152px;
    overflow: hidden;
    white-space: nowrap;
    text-transform: uppercase;
}

#miinus {
    position: relative;
    right: -250px;
    height: 152px;
    padding: 10px;
    width: 370px;
    background-color: #3daeca;
    color: #ffffff;
}



#miinus span {
    padding-left: 42px;
    padding-right: 50px;
    font-size: 2em;
}

#miinusContainer div {
    transition: transform .2s ease-in-out;
}

#miinusContainer div:hover {
    transform: translate3d(-250px, 0px, 0px);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#kertoContainer {
    grid-area: kerto;
    justify-self: end;
    text-align: center;
    font-family: 'Mali', cursive;
    font-size: 1.5em;
    width: 340px;
    height: 152px;
    overflow: hidden;
    white-space: nowrap;
    text-transform: uppercase;
}

#kerto {
    position: relative;
    right: -220px;
    height: 152px;
    padding: 10px;
    width: 340px;
    background-color: #ca713d;
    color: #ffffff;
}



#kerto span {
    padding-left: 10px;
    padding-right: 50px;
    font-size: 1.5em;
}

#kertoContainer div {
    transition: transform .2s ease-in-out;
}

#kertoContainer div:hover {
    transform: translate3d(-220px, 0px, 0px);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#jakoContainer {
    grid-area: jako;
    justify-self: end;
    text-align: center;
    font-family: 'Mali', cursive;
    font-size: 1.5em;
    width: 340px;
    height: 152px;
    overflow: hidden;
    white-space: nowrap;
    text-transform: uppercase;
}

#jako {
    position: relative;
    right: -220px;
    height: 152px;
    padding: 10px;
    width: 340px;
    background-color: #c8ca3d;
    color: #ffffff;
}



#jako span {
    padding-left: 10px;
    padding-right: 50px;
    font-size: 1.5em;
}

#jakoContainer div {
    transition: transform .2s ease-in-out;
}

#jakoContainer div:hover {
    transform: translate3d(-220px, 0px, 0px);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}


#footer {
    background-color: #51b450;
    padding: 10px;
    grid-area: footer;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: #ffffff;
}

@media screen and (max-width:500px) {
    #wrapper {
        margin: 10px auto; 
        width: 90%;
        display: grid;
        padding: 30px;
        background-color: aliceblue;
        grid-template-columns: 1fr; 
        grid-template-rows: auto;
        grid-gap: 10px;
        grid-template-areas: 
            "picture"
            "plus"
            "minus"
            "kerto"
            "jako"
            "footer";
    }

}